{% extends 'base.html.twig' %}
{% block title %}Debug - Code Trace{% endblock %}
{% block style %}
        ul { list-style: none; padding: 0; }
        a { text-decoration: none; color: black; float: left; display: block; margin-right: 10px; }
        a:hover { text-decoration: underline; }
        li span { width: 100px; }
        .even { background-color:#DEDEDE; }
        .odd { background-color:#FFFFFF; }
{% endblock %}
{% block body %}
    <table>
{% for file in files %}
        <tr>
            <td>{{ file.name }}</td>
            <td><a href="?trace={{ file.id }}">Trace</a></td>
            <td><a href="?code={{ file.id }}">Code</a></td>
            <td><a href="?delete={{ file.id }}">Delete</a></td>
        </tr>
{% endfor %}
    </table>
{% endblock %}
