{% extends 'bootstrap.html.twig' %}

{% block title %}Debug - Tree{% endblock %}
{% block style %}
<style>
    div#tree * {
        font-family: Courier;
        font-size: 12px;
    }
    div.tree_row {
        clear: both;
        overflow: hidden;
        border-bottom: 1px solid lightgrey;
    }
    div.tree_row:hover { border-bottom: 1px solid black; }
    div.bar_holder {
         background-color: #5cb85c;
        height: 2px;
    }
    div.time_spent {
        width: 70px;
        float: left;
    }
    div.descendants {
        width: 110px;
        float: left;
        margin-left: 5px;
    }
    #loading {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: red;
        color: white;
        font-weight: bold;
        padding: 5px;
    }
    ul { list-style: none; padding-left: 0px;}
    li { border-left: 1px solid black; }
    li.leaf { background-color: #FFFFD4; }
    li.parent { background-color: #E2FEE2; }
    div.tree_row > a.path { float: right; }

    div.bar { border: 1px solid red;}

    div.children { display: none; padding-left: 30px; }
    a.node_collapse { display: none; }

</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    var bSending = false;

    function expandNode(sId) {
        var sUrl = '?kizilare_debug=1&tree={{ id }}&line=' + sId;

        if (bSending) {
            return;
        }
        bSending = true;
        $('#loading').show();
        $('#line_' + sId + ' > div.tree_row > a.node_expand').hide();
        $('#line_' + sId + ' > div.tree_row > a.node_collapse').show();
        $('#line_' + sId + ' > div.children').load(sUrl, function(oResponse){
            $('#loading').hide();
            bSending = false;
        }).show();
    };

    function collapseNode(sId) {
        $('#line_' + sId + ' > div.tree_row > a.node_collapse').hide();
        $('#line_' + sId + ' > div.tree_row > a.node_expand').show();
        $('#line_' + sId + ' > div.children').html('').hide();
    };

    function loadEvents() {
        $('a.node_expand').bind('click', function(oEvent) {
            var sId = $(this).parent().parent().attr('id');
            var sUrl = '?kizilare_debug=1&tree={{ id }}&line=' + sId.replace('line_', '');

            if (bSending) {
                return;
            }
            bSending = true;
            oEvent.preventDefault();
            $('#loading').show();
            $('#' + sId + ' > div.tree_row > a.node_expand').hide();
            $('#' + sId + ' > div.tree_row > a.node_collapse').show();
            $('#' + sId + ' > div.children').load(sUrl, function(oResponse){
                $('#loading').hide();
                loadEvents();
                bSending = false;
            }).show();
        });
        $('a.node_collapse').bind('click', function(oEvent) {
            var sId = $(this).parent().parent().attr('id');

            oEvent.preventDefault();
            $('#' + sId + ' > div.tree_row > a.node_collapse').hide();
            $('#' + sId + ' > div.tree_row > a.node_expand').show();
            $('#' + sId + ' > div.children').html('').hide();
        });
    }

    function deleteEntry(sourceId, currentId) {
        var sUrl = '?kizilare_debug=1&delete={{ id }}&line=' + sourceId;

        if (bSending) {
            return;
        }
        bSending = true;
        $('#loading').show();
        $.get(sUrl, function(oResponse){
            $('#loading').hide();
            bSending = false;
            $('#line_' + currentId).remove();
        });
    }
</script>
{% endblock %}

{% block body %}
<div id="loading">Loading...</div>
<div id="tree">
    {% include 'tree_nodes.html.twig' %}
</div>
{% endblock %}
